


.page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}



.blogpost_box{
    background-color: bisque;
    width: 80vw;
    height: auto;
    min-height: 30rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogpost_title{
    font-size: 4rem;
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.blogpost_content{
    font-size: 1.5rem;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
}


.comment_section{
    border-radius: 0rem;
    height: auto;
    width: 100%;
    position: relative;
    bottom: 0;
    border-top: 1px solid #000000;
}

.add_comment_label{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
}
.comment_textbox{
    min-width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 6rem;
    border-radius: 2rem 2rem 0 0;
    padding: 2rem;
    font-size: large;
    border: none;
    resize: vertical;
    overflow: hidden;
}
textarea:focus {
    outline: none;
  }


  @media only screen and (max-width: 600px) {
    .blogpost_box{
        width: 95%;
    }

    .add_comment_label{
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }
  }