


.page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}



.blogpost_box{
    background-color: bisque;
    width: 80vw;
    height: auto;
    min-height: 30rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogpost_title{
    font-size: 4rem;
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.blogpost_content{
    font-size: 1.5rem;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
}


.comment_section{
    background-color: crimson;
    border-radius: 2rem;
    height: auto;
    width: 100%;
    position: relative;
    bottom: 0;
}

.comment_textbox{
    width: calc(100% - 4rem);
    min-width: calc(100% - 4rem);
    max-width: calc(100% - 4rem);
    height: auto;
    min-height: 5rem;
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem;
    font-size: large;

}

