.blog_page_featured_article{
    height: 35rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_page_featured_article_box{
    height: 35rem;
    width: 80rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.blog_page_featured_article_image{
    width: 100%;
    height: auto;
    height: 30rem;
    border-radius: 2rem;
    position: absolute;
    width: 80rem;
    z-index: 1;
}


.blog_page_featured_article_textbox{
    background-color: rgba(210, 105, 30, 0.76);
    width: auto;
    height: auto;
    height: 29rem;
    width: 25rem;
    border-radius: 0 2rem 2rem 0;
    padding: 2rem;
    z-index: 4;
    position: relative;
    margin: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


@media only screen and (max-width: 600px) {
    .blog_page_featured_article{
        height: 35rem;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .blog_page_featured_article_box{
        height: 30rem;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .blog_page_featured_article_image{
        width: 80vw;
        height: 30rem;
        border-radius: 2rem;
        position: absolute;
        z-index: 1;
        object-fit: cover;
    }
    
    
    .blog_page_featured_article_textbox{
        background-color: rgba(210, 105, 30, 0.76);
        height: 10rem;
        width: 100%;
        border-radius: 0rem 0rem 2rem 2rem;
        padding: 2rem;
        z-index: 4;
        position: relative;
        margin: 0.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }    
}