.blog_page_all_articles{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
}


.blog_page_all_articles_box{
    height: auto;
    width: 80rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    justify-content: center;
    align-items: center;
    grid-column-gap: 1rem; /* Abstand zwischen Spalten */
    grid-row-gap: 1rem; /* Abstand zwischen Zeilen */
}

.blog_page_all_articles_article{
    background-color: rgb(255, 255, 255);
    height: 15rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    min-width: 10rem;
}

.blog_page_all_articles_article:hover{
    box-shadow: 0 0 10px 2px white;
    height: 15rem;
    border-radius: 1rem;
}

.blog_page_all_articles_article_span{ 
    width: 40%;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
}

.blog_page_all_articles_article_headline{
    text-align: center;
}

.blog_page_all_articles_article_span_p{   
    padding-top: 1rem;
    text-align: center;
}

.blog_page_all_articles_article_spanimg{   
    width: 60%;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
}


.blog_page_all_articles_box_image{
    width: 100%;
    height: 13rem;
    border-radius: 1rem;
    object-fit: cover;
}


@media only screen and (max-width: 600px) {
    .blog_page{
        height: auto;
        width: 100vw;
        padding-top: 6rem;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .blog_page_header{
        height: 10rem;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .blog_page_header_box{
        width: 80vw;
        color: rgb(255, 255, 255);
    }
    
    .blog_page_header_firstline{
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }
    
    .blog_page_header_headline{
        width: 80rem;
        display: flex;
        justify-content: flex-start;
        padding-top: 1rem;
        font-size: 1.7rem;
    }
    
    .blog_page_header_subheadline{
        width: 80rem;
        display: flex;
        justify-content: flex-start;
        padding-top: 1rem;
        font-size: 1.3rem;
    }
    
    .blog_page_all_articles{
        height: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    
    
    .blog_page_all_articles_box{
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column-gap: 0.5rem; /* Abstand zwischen Spalten */
        grid-row-gap: 0.5rem; /* Abstand zwischen Zeilen */
    }
    
    .blog_page_all_articles_article{
        background-color: rgb(255, 255, 255);
        height: 15rem;
        border-radius: 1rem;
        display: flex;
        gap: 0rem;
        justify-content: space-between;
        width: 95vw;
        align-items: center;
    }

    .blog_page_all_articles_article_span{ 
        width: 40%;
        height: 100%;
        border-radius: 1rem;
        padding: 1rem;
    }
    
    .blog_page_all_articles_article_span_p{   
        padding-top: 1rem;
        text-align: center;
    }

    .blog_page_all_articles_article_spanimg{   
        width: 60%;
        height: 100%;
        border-radius: 1rem;
        padding: 1rem;
    }
    
    .blog_page_all_articles_article:hover{
        box-shadow: 0 0 10px 2px white;
        height: 15rem;
        border-radius: 1rem;
    }
    
    .blog_page_all_articles_box_image{
        width: 100%;
        height: auto;
        height: 10rem;
        border-radius: 1rem;
        object-fit: cover;
    }
    
    .blog_page_all_articles_loadingbutton{
        width: 100vw;
    }
    
}