.blog_page{
    height: auto;
    width: 100vw;
    padding-top: 8rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
}

.blog_page_header{
    height: 10rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog_page_header_box{
    width: 80rem;
    color: rgb(255, 255, 255);
}

.blog_page_header_firstline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.blog_page_header_headline{
    width: 80rem;
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    font-size: 1.7rem;
}

.blog_page_header_subheadline{
    width: 80rem;
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    font-size: 1.3rem;
}



.blog_page_all_articles_loadingbutton{
    background-color: rgba(255, 0, 51, 0);
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    
}


@media only screen and (max-width: 600px) {
    .blog_page{
        height: auto;
        width: 100vw;
        padding-top: 6rem;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .blog_page_header{
        height: 10rem;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .blog_page_header_box{
        width: 80vw;
        color: rgb(255, 255, 255);
    }
    
    .blog_page_header_firstline{
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }
    
    .blog_page_header_headline{
        width: 80rem;
        display: flex;
        justify-content: flex-start;
        padding-top: 1rem;
        font-size: 1.7rem;
    }
    
    .blog_page_header_subheadline{
        width: 80rem;
        display: flex;
        justify-content: flex-start;
        padding-top: 1rem;
        font-size: 1.3rem;
    }
    

    .blog_page_all_articles_loadingbutton{
        width: 100vw;
    }
    
}