

.cv_page_education{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cv_page_skills_center{
    background-color: #ff5252;
    height: calc(100vh - 100px);
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    border-radius: 5rem;
}




@media only screen and (max-width: 600px) {
    .cv_page_education{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
    }

    .cv_page_skills_center{
        background-color: #ff7f7f;
        height: 95%;
        width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 2rem;
    }
    
    
  }