

.page_dashboard{
    background-color: aqua;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.page_dashboard_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page_dashboard_form_element{
    width: 200px;
    height: 50px;
}

#page_dashboard_form_textarea{
    max-width: 200px;
    min-width: 200px;
    min-height: 100px;
}